<h1> Item</h1>

  <% @items.each do |item| %>
    <div>
      <%= item.title %>
      <%= item.price %>
      <%= item.description %>
      <%= image_tag item.images.to_s %>
    </div>
  <% end %>
<div class="booyah-box col-10 offset-1">
  <h1 class="text-center">Sell something today</h1>
  <hr />

  <% @items.each do |item| %>
    <h2 class="text-center">
      <%= link_to item.title, item_path(item) %>
      <%= image_tag item.images.to_s, class: 'img-fluid' %>
    </h2>
    <br />
    <div class="row">
      <div class="col-sm-8 col-12">

      <%= item.description %>
      </div>
      <div class="col-sm-4 col-12 text-center">
      <%= link_to 'More Details...', item_path(item), class: 'btn btn-primary btn-large' %>
      </div>
    </div>
    <br class="clr" />
  <% end %>
</div>
 
  
